@import 'tailwindcss';
@import '@aero/ui/styles';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --scroll-shadow-size: 360px;
}

/* Disable all layout and color transitions during theme toggle */
.disable-transitions,
.disable-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
