@layer components {
  .rating {
    --rating-active-color: var(--color-warning);
    --rating-inactive-color: var(--color-surface-tertiary);
    outline-style: none;
    align-items: center;
    display: flex;
  }
  .rating[data-focus-visible='true'] {
    @apply ring-focus ring-offset-background ring-2 ring-offset-[var(--ring-offset-width)] outline-none;
  }
  .rating[data-disabled='true'] {
    opacity: var(--disabled-opacity);
    cursor: var(--cursor-disabled);
    pointer-events: none;
  }
  .rating[data-readonly='true'] {
    pointer-events: none;
  }
  .rating[data-readonly='true'] input {
    display: none;
  }
  .rating[data-readonly='true']:focus-visible,
  .rating[data-readonly='true'][data-focus-visible='true'] {
    box-shadow: none;
    outline-style: none;
  }

  .rating__item {
    -webkit-tap-highlight-color: transparent;
    cursor: var(--cursor-interactive);
    outline-style: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s;
    display: flex;
    position: relative;
  }
  .rating__item[data-focus-visible='true'] {
    @apply ring-focus ring-offset-background rounded-sm ring-2 ring-offset-[var(--ring-offset-width)] outline-none;
  }
  .rating__item:disabled,
  .rating__item[aria-disabled='true'] {
    opacity: var(--disabled-opacity);
    cursor: var(--cursor-disabled);
    pointer-events: none;
  }
  .rating__item[data-pressed='true']:not([data-readonly='true']) {
    transform: scale(0.8);
  }
  .rating__item[data-readonly='true'] {
    pointer-events: none;
    cursor: default;
  }
  .rating__item[data-readonly='true'][data-focus-visible='true'] {
    box-shadow: none;
    outline-style: none;
  }

  .rating__icon {
    color: var(--rating-inactive-color);
    justify-content: center;
    align-items: center;
    transition: color 0.1s ease-out;
    display: flex;
    position: relative;
  }
  .rating__icon svg {
    width: 100%;
    height: 100%;
  }
  .rating__item[data-active='true'] .rating__icon {
    color: var(--rating-active-color);
  }
  .rating__icon-partial {
    inset-block: 0;
    left: 0;
    color: var(--rating-active-color);
    width: var(--rating-partial);
    align-items: center;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  .rating__icon-partial svg {
    flex-shrink: 0;
  }
  .rating--sm {
    gap: 4px;
  }
  .rating__item--sm .rating__icon,
  .rating__item--sm .rating__icon-partial svg {
    @apply size-4;
  }
  .rating--md {
    gap: 5px;
  }
  .rating__item--md .rating__icon,
  .rating__item--md .rating__icon-partial svg {
    @apply size-5;
  }
  .rating--lg {
    gap: 8px;
  }
  .rating__item--lg .rating__icon,
  .rating__item--lg .rating__icon-partial svg {
    @apply size-7;
  }
}
